---
layout: layout/mylayout.ejs
title: Blog Manager
---

<div>
    
    <table class="card-body table table-striped table-bordered">
        <tbody>
            <thead><p class="display-6 text-center">Webpage Plan:</p></thead>
            <tr>
                <td><p class="lead">1) enable users to add a blogpost</p></td>
                <td><p class="lead">2) enable users to remove a blogpost</p></td>
                <td><p class="lead">3) enable users to modify a blogpost</p></td>
            </tr>
        </tbody>
    </table>
</div>