---
layout: layout/mylayout.ejs
title: About
---
<div class="container">
    <div class="my-5">
        <h1 class="text-center display-1">About Me</h1>
        <section class="about-me">
            <br>
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center card-title">Contact Information</h2>
                    <ul class="list-inline text-center">
                        <li class="list-inline-item lead"><a href="tel:+14164577411"  class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">| Phone Number |</a></li>
                        <li class="list-inline-item lead"><a href="mailto:ramiyan2185@gmail.com"  class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">| Personal Email Address |</a></li>
                        <li class="list-inline-item lead"><a href="mailto:ramiyan.gangatharan@dcmail.com"  class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">| DC Mail |</a></li>
                        <li class="list-inline-item lead"><a href="https://www.linkedin.com/in/ramiyan-gangatharan/" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">| LinkedIn |</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column gap-5">
                        <p class="lead  text-justify">
                            <strong>
                                Hello! I'm Ramiyan Gangatharan, a third-year student in the Computer Programming and
                                Analysis program at Durham College. This site is part of a project for my Web Development 
                                Frameworks course, designed to showcase the skills and knowledge I've developed through my 
                                studies. Before enrolling at Durham College, I briefly pursued Software Engineering Technology 
                                at Centennial College. However, I chose to focus on a path that better aligned with my goals. 
                                My technical expertise spans various programming languages and frameworks, which I’ve applied 
                                across a range of projects. You can view some of my work on <a href="https://rami-zeta.vercel.app/" 
                                target="_blank">my portfolio site</a>, including projects like MERN stack-based applications, 
                                .NET (C#), Java with JSP & Tomcat, and Python with API integration. I also spent time focusing 
                                on algorithms, data structures, and graph theory during breaks, which enhanced my problem-solving 
                                capabilities. In addition to my academic pursuits, I gained valuable experience as a Shift Supervisor 
                                at Tim Hortons from May 2023 to July 2024. I started as Counter Staff in November 2021 and worked my 
                                way up to Shift Supervisor, where I learned about team leadership, customer service, and operations 
                                management. While challenging, this role helped me developstrong social and leadership skills.
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>