---
layout: layout/mylayout.ejs
title: Home
---

<div class="container mt-5">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-1 mb-4">Homepage</h1>
        <p class="subtitle">Web Development Frameworks</p>
        <div class="d-flex justify-content-around">
            <div class="card shadow mx-2 p-3 m-3" style="width: 22rem;">
                <div class="card-body">
                    <h4 class="card-title">Author</h4>
                    <p class="lead">
                        <a href="https://www.linkedin.com/in/ramiyan-gangatharan/"
                           class="text-muted text-decoration-none">
                            Ramiyan Gangatharan &#x1F855;
                        </a>
                        [100835223]
                    </p>
                </div>
            </div>
            <div class="card shadow mx-2 p-3 m-3" style="width: 22rem;">
                <div class="card-body">
                    <h4 class="card-title">Professor</h4>
                    <p class="lead">Adam Kunz <br> [Durham College] </p>
                </div>
            </div>
            <div class="card shadow mx-2 p-3 m-3" style="width: 22rem;">
                <div class="card-body">
                    <h4 class="card-title">Course</h4>
                    <p class="lead">Web Dev Frameworks <br> [INFT-3102-02]</p>
                </div>
            </div>
        </div>
    </div>
</div>