---
layout: layout/mylayout.ejs

pagination:
  data: labs
  size: 1
  alias: post

eleventyComputed: 
    title: <%- post.Title %>
---

<% pagination.items.forEach(post => { %>
  <article><div><%- post.Content %></div></article>
<% }); %>