<% if (title === "Lab 1A") { %>
    <div class="container">
        <div class="row border-bottom pb-3 mb-4 justify-content-center">
            <div class="col-md-6 my-4  mt-5">
                <h1 class="display-6">Lab 1 Instruction: Intro to 11ty & SSG</h1>
            </div>
            <div class="col-md-4 my-4 text-end">
                <p class="mb-0">Durham College - SEIT</p>
                <p class="mb-0">Ramiyan Gangatharan</p>
                <p class="mb-0">100835223</p>
                <p class="mb-0">September 20, 2024</p>
                <p class="mb-0">Web Development: Frameworks</p>
            </div>
        </div>
    </div>
<% } %>

<% if (title === "Lab 1B") { %>
    <div class="container">
        <div class="row border-bottom pb-3 mb-4 justify-content-center">
            <div class="col-md-6 my-4  mt-5">
                <h1 class="display-6">Lab 1 Deliverable: Intro to 11ty & SSG</h1>
            </div>
            <div class="col-md-4 my-4 text-end">
                <p class="mb-0">Durham College - SEIT</p>
                <p class="mb-0">Ramiyan Gangatharan</p>
                <p class="mb-0">100835223</p>
                <p class="mb-0">September 20, 2024</p>
                <p class="mb-0">Web Development: Frameworks</p>
            </div>
        </div>
    </div>
<% } %>

<% if (title === "Assignment 1A") { %>
<div class="container">
    <div class="row border-bottom pb-3 mb-4 justify-content-center">
        <div class="col-md-6 my-4  mt-5">
            <h1 class="display-6">A1 Instruction: Lab 1 Revision</h1>
        </div>
        <div class="col-md-4 my-4 text-end">
            <p class="mb-0">Durham College - SEIT</p>
            <p class="mb-0">Ramiyan Gangatharan</p>
            <p class="mb-0">100835223</p>
            <p class="mb-0">October 4, 2024</p>
            <p class="mb-0">Web Development: Frameworks</p>
        </div>
    </div>
</div>
<% } %>

<% if (title === "Assignment 1B") { %>
<div class="container">
    <div class="row border-bottom pb-3 mb-4 justify-content-center">
        <div class="col-md-6 my-4  mt-5">
            <h1 class="display-6">A1 Deliverable: Lab 1 Revision</h1>
        </div>
        <div class="col-md-4 my-4 text-end">
            <p class="mb-0">Durham College - SEIT</p>
            <p class="mb-0">Ramiyan Gangatharan</p>
            <p class="mb-0">100835223</p>
            <p class="mb-0">October 4, 2024</p>
            <p class="mb-0">Web Development: Frameworks</p>
        </div>
    </div>
</div>
<% } %>

<% if (title === "Lab 2A") { %>
    <div class="container">
        <div class="row border-bottom pb-3 mb-4 justify-content-center">
            <div class="col-md-6 my-4  mt-5">
                <h1 class="display-6">Lab 2 Instruction: Headless CMS</h1>
            </div>
            <div class="col-md-4 my-4 text-end">
                <p class="mb-0">Durham College - SEIT</p>
                <p class="mb-0">Ramiyan Gangatharan</p>
                <p class="mb-0">100835223</p>
                <p class="mb-0">November 1, 2024</p>
                <p class="mb-0">Web Development: Frameworks</p>
            </div>
        </div>
    </div>
<% } %>

<% if (title === "Lab 2B") { %>
    <div class="container">
        <div class="row border-bottom pb-3 mb-4 justify-content-center">
            <div class="col-md-6 my-4  mt-5">
                <h1 class="display-6">Lab 2 Deliverable: Headless CMS</h1>
            </div>
            <div class="col-md-4 my-4 text-end">
                <p class="mb-0">Durham College - SEIT</p>
                <p class="mb-0">Ramiyan Gangatharan</p>
                <p class="mb-0">100835223</p>
                <p class="mb-0">November 1, 2024</p>
                <p class="mb-0">Web Development: Frameworks</p>
            </div>
        </div>
    </div>
<% } %>